.venv
.idea
.vscode
.mypy_cache
.pytest_cache
__pycache__
*.egg-info
.eggs
.coverage
/bin
dist
.tox
test/assets/pebble*
test-results.xml
coverage.xml
docs/_build
.github/workflows/release.yml
.github/workflows/main.yml
.github/workflows/test-results.yml